/* Adjust the font size for the "reset" text on the reset button */
#decrementTime {
    font-size: 12px; /* You can adjust the font size as needed */
}

/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #007AFF;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 24px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

/* Counter Title */
.counter .counter-title {
    font-size: 24px;
}

/* Sets x Reps Counter */
.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 80%;
    max-width: 300px;
}

.counter .counter-controls {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Buttons */
.counter button {
    background-color: #007AFF;
    border: none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    height: 40px;
    width: 40px;
    margin: 0 10px;
}

/* Adjust the font size for the "+15" button */
#incrementTime15 {
    font-size: 16px; /* You can adjust the font size as needed */
}

/* Start/Stop button icon */
#toggleTimer {
    font-size: 24px;
    background-color: #007AFF;
    border: none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    height: 40px;
    width: 40px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Icons for Start and Stop */
#timerIcon {
    font-size: 24px;
}

/* Media Query for mobile responsiveness */
@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    .counter {
        width: 100%;
        max-width: none;
    }
}

/* Add this CSS in your styles.css or within a media query for mobile devices */
@media (max-width: 768px) {
    body {
        overflow: hidden;
    }
}
